</div>
</main>

    <div class="container" style="text-align: center;">
        <footer style="text-align: center;">
        <!-- Step 4 - Add a dynamic year to the footer using JS. -->
        <p>Made by Brad! <%= new Date().getFullYear() %></p>
        </footer>
    </div>
    
</body>
</html>